<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>USERS</title>
    </span>
</head>
<body>
<h1>МОЯ СТРАНИЦА</h1>
<table border="2">
    <tr>
        <th>№</th>
        <th>ИМЯ</th>
        <th>ФАМИЛИЯ</th>
        <th>ПОЧТА</th>
        <th>ЛОГИН</th>
        <th>ПАРОЛЬ</th>
        <th>РОЛЬ</th>

    </tr>

    <tr th:object="${user}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td>
            <ul>
                <li th:each="role : ${user.getRoles()}" th:text = "${role.getRoleName()}">
                </li>
            </ul>
        </td>
    </tr>
</table>
<br>
<br>
<br>
<a th:href="@{/logout}"><input type="submit" value="ВЫХОД"/></a>
</body>
</html>